<html>
<title>Mostly Harmless: {{ env }}:{{ cluster }} - {{ inventory_hostname }}</title>

<head>
    <style>
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }

        a:link {
            color: chartreuse;
        }

        a:visited {
            color: chartreuse;
        }

        a:hover {
            color: orange;
        }
    </style>
</head>

<body style="background-color: black;">
    <img src="./images/mostly-harmless-{{ env | default('default') }}.jpg" class="center">
    <p class="center" style="color: chartreuse;">
        <a href="/api">API</a> | <a href="/api/random">Random Data</a>
    </p>
</body>

</html>
