<html>
<title>Mostly Harmless: {{ inventory_hostname }}</title>

<head>
    <style>
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }
    </style>
</head>

<body style="background-color: black;">
    <img src="./images/mostly-harmless.jpg" class="center">
</body>

</html>
