[Unit]
Description=Tsunami Ref App

[Service]
User={{ app_app.user }}
Group={{ app_app.group }}
WorkingDirectory={{ app_app.path }}
ExecStart=/bin/node {{ app_app.path }}/server.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
